extends template.pug

block content
	.row
		.col-md-3.bg-less-fade
		.col-lg-6.p-3
			.d-flex.flex-row.align-items-center
				h1.mr-auto.mb-0 All Stories
				.dropdown
					button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown') Sorted by: Date
						i.far.fa-clock.ml-2
					.dropdown-menu.dropdown-menu-right
						a.dropdown-item(href='#', sort-by='date') Date
							i.far.fa-clock.ml-2
						a.dropdown-item(href='#', sort-by='comments') Comments
							i.far.fa-comments.ml-2
						a.dropdown-item(href='#', sort-by='popularity') Popularity
							i.far.fa-thumbs-up.ml-2
			hr
			#stories
		.col-md-3.bg-less-fade

append templates
	template#post-card-template
		.post-card-wrapper.d-flex.p-3.rounded.shadow-sm.flex-column.mb-3
			.post-card.d-flex.flex-column(story='')
				.d-flex.flex-column.w-100
					h2.m-0.title
					h3.m-0.subtitle
					.mb-1.mt-2.d-flex
						p.m-0.mr-2.author
						p.m-0.ml-2.text-right.flex-fill.date
				hr.mt-0.w-100
				.d-flex.flex-row
					img.post-card-img.shadow-sm.rounded.header-image
					p.mb-0.text-body
			button.read-more-btn.btn.btn-secondary(style='opacity: 0;') Read more...


append scripts
	script(src='/js/index.js')