extends template.pug

append body
	#story-viewer-wrapper.modal(style='display: none;')
		.story-viewer-box
			h1.title Title
			h3.subtitle Subtitle
			.author-date-box
				p.author Author
				p.date Date
			hr
			#viewer-carousel.carousel.slide(data-ride='carousel')
				.carousel-inner
					.carousel-item.active
						img.d-block.w-100(alt='First slide')
					.carousel-item
						img.d-block.w-100(alt='Second slide')
					.carousel-item
						img.d-block.w-100(alt='Third slide')
				a.carousel-control-prev(href='#viewer-carousel', role='button', data-slide='prev', onclick="$('#viewer-carousel').carousel('prev');")
					span.carousel-control-prev-icon(aria-hidden='true')
					span.sr-only Previous
				a.carousel-control-next(href='#viewer-carousel', role='button', data-slide='next', onclick="$('#viewer-carousel').carousel('next');")
					span.carousel-control-next-icon(aria-hidden='true')
					span.sr-only Next
			p.text-body Content
			hr
			.comments
			.d-flex.flex-row.mt-4.align-items-center
				.d-flex.flex-column.flex-fill
					.d-flex.flex-row
						label.mr-2(for='comment-user-input') User
						input#comment-user-input.form-control(type='text', maxlength='40', placeholder='Anonymous User')
					.d-flex.flex-row.mt-2
						label.mr-2(for='comment-content-input') Comment
						textarea(maxlength='240')#comment-content-input.form-control
				button#comment-btn.ml-2.btn.btn-secondary(type='button') Post


block content
	.row
		.col-md-3.bg-less-fade
		.col-lg-6.p-3.h-100
			.d-flex.flex-row.align-items-center
				h1.mr-auto.mb-0 All Stories
				#sort.dropdown
					button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown') Sort: Date (Descending)
						i.far.fa-clock.ml-2
					.dropdown-menu.dropdown-menu-right
						a.dropdown-item(href='#', sort-by='date-descending') Date (Descending)
							i.far.fa-clock.ml-2
						a.dropdown-item(href='#', sort-by='comments-descending') Comments (Descending)
							i.far.fa-comments.ml-2
						a.dropdown-item(href='#', sort-by='popularity-descending') Popularity (Descending)
							i.far.fa-thumbs-up.ml-2
			hr
			#stories
			#stories-spinner.spinner(style='display: none;')
			h3#try-again.text-center(style='display: none;') Error encountered. 
				a(href='#' onclick='loadStories()') Try again.
			h3#no-more-stories.text-center(style='display: none;') End of results.
			button#load-more-btn.btn.btn-secondary(type='button') Load More...
		.col-md-3.bg-less-fade

append templates
	template#comment-template
		.comment
			.d-flex.flex-row.mb-1
				p.author.ml-auto Author
				p.date Date
			p.text-body Content
	template#post-card-template
		.post-card-wrapper.d-flex.p-3.rounded.shadow-sm.flex-column.mb-3.w-100
			.post-card.d-flex.flex-column.w-100(story='')
				.d-flex.flex-column.w-100
					h2.title
					h3.subtitle
					.author-date-box
						p.author
						p.date
				hr.w-100
				.d-flex.flex-row.w-100
					img.post-card-img.shadow-sm.rounded.header-image
					p.text-body
			button.read-more-btn.btn.btn-secondary(style='opacity: 0;') Read more...


append scripts
	script(src='js/index.js')