:root {
  --cl-fade-focus: rgba(234, 236, 238, 0.8);
  --cl-fade: rgba(234, 236, 238, 0.5);
  --cl-less-fade: rgba(234, 236, 238, 0.4);
  --cl-fade-opaque: rgba(234, 236, 238);
  --cl-head: #ebf5fb;
  --cl-muted: rgba(33, 37, 41, 0.8);
}

html {
  min-width: 360px;
}

h3 {
  color: var(--cl-muted);
  font-size: medium;
  font-weight: 400;
}

.search-field {
  border-radius: 0.25rem;
  width: auto;
  padding-right: 3rem;
}

.search-btn {
  border-radius: 0 0.25rem 0.25rem 0;
  right: 0;
  height: 100%;
  position: absolute;
}

.flex-fill {
  flex: 1;
}

.bg-fade {
  background-color: var(--cl-fade);
}

.bg-head {
  background-color: var(--cl-head);
}

.bg-less-fade {
  background-color: var(--cl-less-fade);
}

.title {
  margin-bottom: 0.25rem;
}

.author-date-box {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.comment .date {
  color: var(--cl-muted);
}

.comment .author {
  color: var(--cl-muted);
}

.comment {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.date {
  flex: 1;
  text-align: right;
}

h1,
h2,
h3,
p {
  margin: 0;
}

#viewer-carousel {
  margin-bottom: 1rem;
}

#viewer-carousel .carousel-item {
  height: 50vh;
}

#viewer-carousel .carousel-item * {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#story-viewer-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.story-viewer-box {
  background-color: var(--cl-fade-opaque);
  margin: 1rem 0 1rem 0;
  width: min(850px, 95vw);
  border-radius: 0.5rem;
  padding: 1rem;

  margin: 1rem;
  height: fit-content;
}

.spinner {
  background-image: url('../img/loading.svg');
  width: 100%;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.read-more-btn {
  opacity: 0;
  position: absolute;
}

#container {
  flex: 1;
  display: flex;
}

.row {
  flex: 1;
}

#stories {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.post-card-wrapper {
  background-color: var(--cl-fade);
  max-height: 50vh;
  align-items: center;
  justify-content: center;
}

#load-more-btn {
  width: 100%;
}

.post-card {
  height: 100%;
  align-items: center;
  overflow: hidden;
}

p {
  overflow-y: hidden;
}

.post-card-img {
  max-width: 40%;
  min-width: 30%;
  margin-bottom: auto;
  height: auto;
  flex: 1;
  margin-right: 1rem;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
